@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html, body {
  background: #232323;
  color: white;
  margin-top: 6%;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

span {
  font-size: 20px;
}

.carousel {
  display: flex;
  align-items: center;
}

.btn-cont {
  display: flex;
  justify-content: center;
}

.btn.btn-nav {
  height: 40px;
  width: 40px;
  border: 2px solid #e2e2e2;
  background: transparent;
  padding: 0;
  outline: none;
}

.img-display {
  display: flex;
  align-items: center;
  height: 300px;
}

.block-cont {
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid #636363;
}

.img-responsive {
  width: 100%;
}

.title {
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
}
