<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>BackboneJS Carousel</title>
	<link rel="stylesheet" href="/app.css">
</head>

<body>
	<div class="container">
		<h1>BackboneJS Carousel</h1>
		<div class="row carousel">
		</div>
	</div>
	<script type="text/template" class="block-template">
		<div class="col-xs-1 btn-cont">
			<button class="btn btn-prev btn-nav">
        <span aria-hidden="true">&#8249;</span>
      </button>
		</div>
		<div class="col-xs-10 img-display">
			<% _.each(blocks, function(block) { %>
				<div class="col-xs-3 block-cont">
					<img src="<%= block.image %>" class="img-responsive">
					<p class="title">
						<%= block.title %>
					</p>
				</div>
				<% }); %>
		</div>
		<div class="col-xs-1 btn-cont">
			<button class="btn btn-next btn-nav">
        <span aria-hidden="true">&#8250;</span>
      </button>
		</div>
	</script>


	<script src="/app.js"></script>
	<script>
		require('main');
	</script>
</body>

</html>
